In [1]:
# 数据处理
import pandas as pd
import numpy as np

# 画图
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# 数据加载

In [2]:
df_train = pd.read_csv('./Data/train.csv')
df_test = pd.read_csv('./Data/test.csv')

In [8]:
from sklearn.model_selection import train_test_split
X=df_train.drop('count',axis=1)
y=df_train['count']
X_Train,X_Validate,y_Train,y_Validate=train_test_split(X,y,test_size=0.2,random_state=0)
df_train=pd.concat([X_Train,y_Train],axis=1)
df_validate=pd.concat([X_Validate,y_Validate],axis=1)

In [4]:
df_test.shape

(6493, 9)

In [3]:
df_train.shape

(10886, 12)

In [ ]:
df_validate.shape

# 二、数据探索
Exploratory Data Analysis(EDA)

## 2.1：整体

In [13]:
df_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
3662,2011-09-03 12:00:00,3,0,0,1,28.70,32.575,61,15.0013,97,160,257
8648,2012-08-02 17:00:00,3,0,1,1,33.62,38.635,52,16.9979,90,775,865
7053,2012-04-12 06:00:00,2,0,1,1,12.30,14.395,65,16.9979,2,94,96
2685,2011-06-19 19:00:00,2,0,0,1,29.52,34.090,62,8.9981,94,217,311
5927,2012-02-03 04:00:00,1,0,1,1,10.66,12.880,60,15.0013,0,2,2

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8708 entries, 3662 to 2732
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    8708 non-null   object
 1   season      8708 non-null   int64
 2   holiday     8708 non-null   int64
 3   workingday  8708 non-null   int64
 4   weather     8708 non-null   int64
 5   temp        8708 non-null   float64
 6   atemp       8708 non-null   float64
 7   humidity    8708 non-null   int64
 8   windspeed   8708 non-null   float64
 9   casual      8708 non-null   int64
 10  registered  8708 non-null   int64
 11  count       8708 non-null   int64
dtypes: float64(3), int64(8), object(1)
memory usage: 884.4+ KB

In [11]:
df_train.nunique()

datetime      8708
season           4
holiday          2
workingday       2
weather          4
temp            49
atemp           58
humidity        88
windspeed       28
casual         295
registered     703
count          792
dtype: int64

In [12]:
df_train.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [7]:
df_train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

## 2.2：各列

+ season